<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGidXroCFmstxdVABf0OSDiOCuS_o9XuE</string>
	<key>GCM_SENDER_ID</key>
	<string>74608232623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.rev.c0.Revcipe</string>
	<key>PROJECT_ID</key>
	<string>revcipes</string>
	<key>STORAGE_BUCKET</key>
	<string>revcipes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74608232623:ios:8054de45bad4843c5e2c5a</string>
</dict>
</plist>